<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fã Clube</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <div>
        <header></header>
        <section>
            <div>
                <h1>Galeria</h1>
            </div>
            <div class="container">
                <div class="card">
                    <img class="imgtest" src="img/test.jpg" alt="qqr coisa">
                    <p class="titulo">Qualquer Coisa</p>
                    <p>coisa qualquer</p>
                    <a href="#"><button>veja mais</button></a>
                </div>
                <div class="card">
                    <img class="imgtest" src="img/test.jpg" alt="qqr coisa">
                    <p class="titulo">Qualquer Coisa</p>
                    <p>coisa qualquer</p>
                    <a href="#"><button>veja mais</button></a>
                </div>
                <div class="card">
                    <img class="imgtest" src="img/test.jpg" alt="qqr coisa">
                    <p class="titulo">Qualquer Coisa</p>
                    <p>coisa qualquer</p>
                    <a href="#"><button>veja mais</button></a>
                </div>
                <div class="card">
                    <img class="imgtest" src="img/test.jpg" alt="qqr coisa">
                    <p class="titulo">Qualquer Coisa</p>
                    <p>coisa qualquer</p>
                    <a href="#"><button>veja mais</button></a>
                </div>
                <div class="card">
                    <img class="imgtest" src="img/test.jpg" alt="qqr coisa">
                    <p class="titulo">Qualquer Coisa</p>
                    <p>coisa qualquer</p>
                    <a href="#"><button>veja mais</button></a>
                </div>
                <div class="card">
                    <img class="imgtest" src="img/test.jpg" alt="qqr coisa">
                    <p class="titulo">Qualquer Coisa</p>
                    <p>coisa qualquer</p>
                    <a href="#"><button>veja mais</button></a>
                </div>
                <div class="card">
                    <img class="imgtest" src="img/test.jpg" alt="qqr coisa">
                    <p class="titulo">Qualquer Coisa</p>
                    <p>coisa qualquer</p>
                    <a href="#"><button>veja mais</button></a>
                </div>
                <div class="card">
                    <img class="imgtest" src="img/test.jpg" alt="qqr coisa">
                    <p class="titulo">Qualquer Coisa</p>
                    <p>coisa qualquer</p>
                    <a href="#"><button>veja mais</button></a>
                </div>
                <div class="card">
                    <img class="imgtest" src="img/test.jpg" alt="qqr coisa">
                    <p class="titulo">Qualquer Coisa</p>
                    <p>coisa qualquer</p>
                    <a href="#"><button>veja mais</button></a>
                </div>
                <div class="card">
                    <img class="imgtest" src="img/test.jpg" alt="qqr coisa">
                    <p class="titulo">Qualquer Coisa</p>
                    <p>coisa qualquer</p>
                    <a href="#"><button>Mais imagens</button></a>
                </div>
            </div>
        </section>
    </div>
</body>

</html>