.header1{
    background-color: rgba(51, 50, 50, 0.74);
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-size: 30px;
}
.container{
    text-align: center;
}
#pesquisa {
    text-align: center;
}

.input-single{
    position: relative;
    margin: 30px;
}
.input-single label{
position: absolute;
left: 0;
bottom: 5px;
transition: all 0.2s;
}
.input{
    width: 100%;
    padding: 5px;
    font-size: 17px;
    outline: 0;
    border-style: none;
    border-bottom-style: solid;
    border-right-style: solid;
}
form .input-single .input:focus ~label,
form .input-single .input:valid ~label{
    transform: translateY(-24px);
    font-size: 10px;
    color: #2D5966;
}
.btn{
    width:100%;
    text-align: center;
    background-color: rgb(66, 173, 66);
    color: white;
    border-radius: 5px;
}
input[type=submit]{
    padding: 10px 40px;
    border: 0;
    border-radius: 10px;
}