#topnav {
    width: 97%;
    display: inline;
    background-color: rgb(56, 41, 26);
    padding: 10;
}
.holder {
    background-image: url(Pizzaria/img/);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.holder img, .holder p{
    position: absolute;
    font-size: 28px;
    font-family: sans-serif;
    text-align: center;
}

a:link {
    padding-left: 20px;
    font-size: 25px;
    text-decoration: none;
    color: antiquewhite;
}

a:visited {
    text-decoration: none;
    color: antiquewhite;
}

#pedidos {
    float: right;
}